<a href="https://colab.research.google.com/github/vedant9875/python-programming-2/blob/main/Untitled0vedantweek%202%2039.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
section A
#1
def sum_three(p,q,r):
 if p==q or q==r or r==p:
    sum=3
 else:
   sum=3
 return sum
print(sum_three(5,5,5))
print(sum_three(6,5,4))

3
3

In [ ]:
#2
def DtoLoT(dict):
    dict = {'Vedant':16, 'Noddy':67, 'Hrtik':25, 'Jatin':45}
    list = [(k, v) for k, v in dict.items()]

    list.sort(key = lambda x: x[0])
    return list

print(DtoLoT(dict))

[('Hrtik', 25), ('Jatin', 45), ('Noddy', 67), ('Vedant', 16)]

In [ ]:
#3
def replaceVowels(str, K):
    vowels = 'aeiou'
    for i in vowels:
        str = str.replace(i, K)
    return str

input_str = "I Love you 3000"
K = "u"

print("Input string =", input_str)
print("Specified vowel =", K)
print("After replacing =", replaceVowels(input_str, K))

Input string = I Love you 3000
Specified vowel = u
After replacing = I Luvu yuu 3000

In [ ]:
#4
#def function3(str):
Monty = "Dream big achieve big"
a = list(Monty)
print(a)
go = []
for i in a:
    go.extend(ord(num) for num in i)
print(go)


odd = []
even = []
for i in go:
    if(i % 2 ==0):
        even.append(i)
    else:
        odd.append(i)

['D', 'r', 'e', 'a', 'm', ' ', 'b', 'i', 'g', ' ', 'a', 'c', 'h', 'i', 'e', 'v', 'e', ' ', 'b', 'i', 'g']
[68, 114, 101, 97, 109, 32, 98, 105, 103, 32, 97, 99, 104, 105, 101, 118, 101, 32, 98, 105, 103]

In [5]:
def bunny(st):
  res = []
  for index, c in enumerate(st):
    if index % 2 == 0:
      res.append(c.upper())
    else:
      res.append(c.lower())
  return '' .join(res)
print(bunny("Old is gold"))

OlD Is gOlD

In [8]:
# section B
#1
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(9))

False

In [12]:
#2
def factorial(n):

    return 1 if (n==1 or n==0) else n * factorial(n - 1);
 

num = 25;
print("Factorial of",num,"is",
factorial(num))

Factorial of 25 is 15511210043330985984000000

In [14]:
#3
def largest_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(largest_num_in_list([1, 2, -8, 0]))

2

In [15]:
#4
def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([14, 25, 30, 40, 50, 65, 72, 81, 92]))

[14, 30, 40, 50, 72, 92]

In [19]:
#5
def myfunction():
    print("Simple but significant")

myfunction()

Simple but significant